.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
  border-right: 1px solid #ccc;
}

.logo {
  padding: 20px;
}

.page-content {
  margin: 20px;
}


.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-left: 220px;
}