<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" opened>
        <div class="logo">
            <img width="70px" src="/logo-placeholder.png" alt="Logo">
        </div>
        <mat-nav-list>
            <a mat-list-item routerLink="/home">Evaluation</a>
            <a mat-list-item routerLink="/other">Menu 2</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="fixed-toolbar">
            <span>Property Evaluation </span>
        </mat-toolbar>

        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>