.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // This makes the container take up the full viewport height

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // height: 100vh; // This makes the container take up the full viewport height
    
    }
  }