// Variables
$primary-color: #4a4a4a;
$secondary-color: #9b9b9b;
$background-color: #f2f2f2;
$button-color: #3273dc;
$button-hover-color: darken($button-color, 10%);

// Mixins
@mixin transition($args...) {
  transition: $args;
}

// Styles
.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: $background-color;
  border-radius: 8px;

  // label {
  //   color: $primary-color;
  //   margin-bottom: 10px;
  // }

  // input {
  //   margin-bottom: 20px;
  //   padding: 10px;
  //   border: 1px solid $secondary-color;
  //   border-radius: 4px;
  //   @include transition(all 0.3s ease);
    
  //   &:focus {
  //     outline: none;
  //     border-color: $primary-color;
  //   }
  // }

  // button {
  //   padding: 10px;
  //   color: white;
  //   background-color: $button-color;
  //   border: none;
  //   border-radius: 4px;
  //   cursor: pointer;
  //   @include transition(all 0.3s ease);

  //   &:hover {
  //     background-color: $button-hover-color;
  //   }

  //   &:disabled {
  //     background-color: $secondary-color;
  //     cursor: not-allowed;
  //   }
  // }
}