<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form ">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username">
      <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        Username is required
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Password is required
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>