<mat-table [dataSource]="dataSource" *ngIf="!isLoading">

    <!-- Reference Column -->
    <ng-container matColumnDef="reference">
        <mat-header-cell *matHeaderCellDef> Reference </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.reference}} </mat-cell>
    </ng-container>

    <!-- Received On Column -->
    <ng-container matColumnDef="receivedOn">
        <mat-header-cell *matHeaderCellDef> Received On </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.receivedOn | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
    </ng-container>

    <!-- Borrower's Name Column -->
    <ng-container matColumnDef="borrowerName">
        <mat-header-cell *matHeaderCellDef> Borrower's Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.borrowerName}} </mat-cell>
    </ng-container>

    <!-- FOS Ref Column -->
    <ng-container matColumnDef="fosRef">
        <mat-header-cell *matHeaderCellDef> FOS Ref </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fosRef}} </mat-cell>
    </ng-container>

    <!-- Created On Column -->
    <ng-container matColumnDef="createdOn">
        <mat-header-cell *matHeaderCellDef> Created On </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdOn | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
    </ng-container>

    <!-- Modified On Column -->
    <ng-container matColumnDef="modifiedOn">
        <mat-header-cell *matHeaderCellDef> Modified On </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.modifiedOn | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-button color="primary">
                Claim
            </button>
            <button mat-icon-button color="primary">
                <mat-icon>visibility</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<div *ngIf="isLoading">Loading...</div>
