mat-table {
  width: 100%;
}

mat-header-row {
    background-color: #3f51b5; // Change this to your preferred color
    color: white; // Change this to your preferred color
  }

mat-header-cell,
mat-cell {
  padding: 16px;
}


